* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {  background-color:#B8B8B9; 
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        padding: 0;
        height: 100;
}


#wrapper { min-height: 100%;
            position: relative;
}
            

p { margin-bottom: 16px;

}

header {background-color: #000000;
        color: #ffffff;
        height: 65px;
        padding: 10px;
}

header h1 { 
        float: left;
        font-size: 40px;
        font-family: 'Shadows Into Light Two', cursive;
        color: #000000;
        font-weight: 500;
        padding: 10px;
}

header nav { 
        float: left;
        margin-top: 18px;
        font-family: Herculanum, sans-serif;
}
    
header a {
        color: #aaaaaa;
        margin-right: 20px;
        text-decoration: none;
}

header a:hover {
        color: #ffffff;
}

header a:visited {
        text-decoration:none;
 }
    


article {
    clear: both;
    padding:  0 10px 0 10px;
}

article h1 {
        font-size: 22px;
        line-height: 34px;
        margin-top: 4px;

}

article h2 {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 4px;
}

h1 {
    font-family: 'Merienda', cursive;
    color: #000000;
    font-size: 100px
}

h2 {
    font-family: 'Merienda', cursive;
    font-size: 30px;
    color: teal;
}

p {
    font-family: 'Amatic SC',Arial Narrow, sans-serif;
    font-size: 28px;
    line-height: 26px;
}
images {
    border: 5px solid #cccccc;
    width: 100%;
}

footer {
    font-family: Herculanum, cursive;
    font-size: 12px;
    padding: 0 10px 0 10px;
}

footer {
        background-color: #026D93;
        color: #ffffff;
        height: 30px;
        width:100%;
        position: absolute;
        bottom:0;
        
}