* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {  background-color:#b8b8b8; 
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        padding: 0;
}


#wrapper { 
        min-height: 100%;
        position: relative;
            
}
            

header {background-color: #1CA5B2;
        color: #000000;
        padding: 10px;
}

header h1 { 
        font-size: 70px;
        text-align: center;
        font-family: 'Shadows Into Light Two', cursive;
        color: #000000;
        font-weight: 500;
        padding: 10px;
}

header nav { 
        margin: 18px 0 0 10px ;
    background-color: #1CA5B2;
        text-align: center;
        font-family: Herculanum, sans-serif;
}
    
header a {
        color: #000000;
        margin-right: 20px;
        text-decoration: none;
}

header a:hover {
        color: #ffffff;
}

header a:visited {
        text-decoration:none;
 }
    


article {
    clear: both;
    padding:  0 10px 0 10px;
}

article h1 {
        font-size: 22px;
        line-height: 34px;
        margin-top: 4px;

}

article h2 {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 4px;
}


aside {
    background-color: ;
    float:right;
    width: 45%;
    margin: 0 0 10px 2%;
    
}


h1 {
    font-family: Arial Narrow, sans-serif;
    color: #000000;
    font-size: 100px
}

h2 {
    margin: 15px 0 15px 0;
    font-family: 'Shadows Into Light Two',eurostile,sans-serif;
    color: #000000;
    text-align: center
}

h3 { margin: 15px 0 0 0;
    font-family:'Shadows Into Light Two',Arial Narrow, sans-serif;
    color: #000000;
    text-align: left;
    line-height: 40px;
}

h4 { 
    font-family: 'Shadows Into Light Two';
    text-align: left;
    line-height: 30px;
}

h5{ 
    font-family: 'Shadows Into Light Two';
    text-align: center;
    font-size: 16px;
}



p {
    font-family:'Amatic SC' ,Arial Narrow, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
    
}

.resume { 
    clear: both;
    font-size: 16px;
    font-family: cambria;
    width: 100%;
    line-height: 12px;
    margin: 0 0 0 0;
    padding: 0;
}

.resume ul {
    list-style-type: disc;
    list-style-position: inside;
}

img {width: 90%;
    margin: 0 0 0 0;
    
}

.half { 
        width: 9%;
        float: left;
        margin: 10px 0 10px 90px;
        border: solid #000000 5px;
        text-align: center;
        background-color: #ffffff;
        
}

.first{ 
    width: 40%;
    max-height: 45%;
    margin: 0 5% 5% 5%;
    max-height: 50%;
    float: left;
    
}


.second { 
    float: right;
    width: 40%;
    max-height: 45%;
    margin:  10px 0 10px 0;
}
 
.full { max-width: 260px;
        max-height: 50%;
    margin: 0 auto;
       
}

.fourth {
        max-width: 1060px;
        margin-left: 11%;
        max-height: 50%;
    
}


footer {
    clear: both;
    font-family: Herculanum, sans-serif;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    background-color: #1CA5B2;
    height: 30px;
    width:100%;
    bottom:0;
    margin: 15px 0 0 0;    
}

footer p, #resume footer p { 
    color: #ffffff;
    font-family: 'Amatic SC';
            
}

#resume li, ul {
    line-height: 28px;
    font-size: 18px;
    font-family:eurostile, sans-serif;
}

.about p {
        text-align: left;
        margin: 5px 65px 5px 0px;
   
    
}

.home p {
    text-align: center;
    
    
}

@media screen and (max-width:600px) {
  
/*    p { color: red; }*/
    
}