* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {  background-color:#b8b8b8; 
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        padding: 0;
        height: 100;
}


#wrapper { 
        min-height: 100%;
        position: relative;
            
}
            

header {background-color: #026D93;
        color: #000000;
        height: 95px;
        padding: 10px;
}

header h1 { 
        font-size: 70px;
        text-align: center;
        font-family: 'Shadows Into Light Two', cursive;
        color: #000000;
        font-weight: 500;
        padding: 10px;
}

header nav { 
        margin: 18px 0 0 10px ;
    background-color: #026D93;
        text-align: center;
        font-family: Herculanum, sans-serif;
}
    
header a {
        color: #000000;
        margin-right: 20px;
        text-decoration: none;
}

header a:hover {
        color: #ffffff;
}

header a:visited {
        text-decoration:none;
 }
    


article {
    clear: both;
    padding:  0 10px 0 10px;
}

article h1 {
        font-size: 22px;
        line-height: 34px;
        margin-top: 4px;

}

article h2 {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 4px;
}


aside {
    background-color: ;
    float:right;
    width: 45%;
    margin: 0 0 10px 2%;
    
}


h1 {
    font-family: Arial Narrow, sans-serif;
    color: #000000;
    font-size: 100px
}

h2 {
    margin: 15px 0 15px 0;
    font-family: 'Shadows Into Light Two',eurostile,sans-serif;
    color: #000000;
    text-align: center
}

h3 { margin: 15px 0 0 0;
    font-family:'Shadows Into Light Two',Arial Narrow, sans-serif;
    color: #000000;
    text-align: left;
}

h4 { 
    font-family: 'Shadows Into Light Two';
    text-align: left;
}

h5{ 
    font-family: 'Shadows Into Light Two';
    text-align: center;
    font-size: 16px;
}



p {
    font-family:'Amatic SC' ,Arial Narrow, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #0000000;
    
}

.resume { 
    clear: both;
    font-size: 16px;
    font-family: cambria;
    width: 100%;
    line-height: 12px;
    margin: 0 0 0 0;
    padding: 0;
    
    
}

img {width: 100%;
    margin: 10px 0 20px 0;
    
}

.half { 
        width: 20%;
        max-height: 50%;
        float: right;
        margin: 0 0 10px 40px;
        border: solid #000000 5px;
        text-align: center;
        background-color: #ffffff;
        
}

.first{ 
    width: 40%;
    max-height: 50%;
    margin: 0 5% 5% 5%;
    max-height: 50%;
    border: solid #000000 5px;
    background-color: #ffffff;
    
}


.second { 
    width: 30%;
    max-height: 50%;
    margin:  0 5% 5% 5%;
    border:  solid #000000 5px;
    background-color: #ffffff;
        
    
}
 
.full { max-width: 1060px;
        margin: 0 6% 0 6%;
        max-height: 50%;
       
}


footer {
    clear: both;
    font-family: Herculanum, sans-serif;
    font-size: 12px;
    padding: 0 10px 0 10px;
    background-color: #026D93;
    color: #ffffff;
    height: 30px;
    width:100%;
    position: absolute;
    bottom:0;
        
}

@media screen and (max-width:600px) {
  
    .first, .half{ 
        width: 50%;
        
    
    }
}